---
---
$excel-green: #007233;
$primary-color: $excel-green;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 80em;

$header-height: 60px;
$header-height-small: 40px;

@import 'normalize';
@import 'mixins';

@import 'highlight';

@import 'base';
@import 'header';
@import 'content';
@import 'guides';
@import 'docs';