---
---
$green: #007233;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 80em;

@import 'normalize';
@import 'syntax';
@import 'mixins';
@import 'h5bp';

// Base
// ----------------------------------------------------- //

body {
  font-size: 14px;
  line-height: 1.5em;
}

code {
  padding: 0.1em 0.3em;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-size: 0.9em;
}

pre {
  border-left: solid 2px lighten($green, 10%);
  padding: 5px 0 5px 10px;
  max-width: 45em;
  line-height: 1.4em;

  & > code {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
    font-size: 90%;
  }

  .hll {
    background-color: fade-out($green, 0.93);
    display: block;
    margin-left: -10px;
    padding-left: 10px;
  }
}

.container {
  padding: 0 10px;
  position: relative;

  @include respond-to(medium) {
    width: 970px;
    margin: 0 auto;
    padding: 0;
  }
  @include respond-to(large) {
    width: 80em;
  }
}

// Header
// ----------------------------------------------------- //

.header {
  @extend .container;
  @extend .clearfix;
  margin-bottom: 8px;

  @include respond-to(medium) {
    line-height: 60px;
    margin-bottom: 0;
  }
}
.branding {
  font-size: 2em;
  margin: 0;
  padding: 0;

  @include respond-to(medium) {
    float: left;
  }

  a {
    color: $green;
    text-decoration: none;

    &:hover {
      border-bottom: solid 1px;
    }
  }
}
.navigation {
  font-size: 1.2em;

  @include respond-to(medium) {
    float: right;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.navigation-link {
  color: black;
  text-decoration: none;
  border-bottom: solid 1px #aaa;
  padding: 0 2px 1px 2px;

  &:hover {
    border-width: 2px;
  }

  &.download {
    border-color: $green;
    color: $green;
    display: none;

    @include respond-to(medium) {
      display: inline;
    }
  }
}

// Content
// ----------------------------------------------------- //

.content {
  @extend .container;
  @extend .clearfix;
}

// Guides
// ----------------------------------------------------- //

.docs-single {
  @include respond-to(large) {
    width: 50em;
    margin: 0 auto;  
  }
}
.docs-split {
  @extend .clearfix;

  .instructions, .code {
    @include respond-to(medium) {
      width: 40em;  
    }
    @include respond-to(large) {
      float: left;  
    }
  }
}

// Docs
// ----------------------------------------------------- //

.toc {
  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }

  @include respond-to(medium) {
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 220px;
    padding-bottom: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0.85em;
  }
}
.toc-title {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }
}
.toc-section {
  margin: 0;
  padding-left: 1.8em;
}
.toc-subsection {
  list-style: none;
  margin-left: -1.2em;
  color: #888;
  text-transform: uppercase;
  font-size: 0.9em;

  & > a {
    color: #888;
  }
  li + & {
    margin-top: 0.5em;
  }
}

.documentation {
  h2 {
    border-bottom: solid 1px #eee;
    padding-bottom: 0.4em;
  }
  h3 {
    margin: 0;

    & + h4 {
      margin-top: 0.5em;
    }
  }
  h4 {
    margin-bottom: 0.5em;
  }
  p {
    margin-top: 0;

    a:not(.docs-code-link) {
      color: #000;
      text-decoration: none;
      border-bottom: solid 1px #ccc;

      &:hover {
        border-color: #000;
      }
    }
  }
  pre {}
  ul {
    margin-top: 0;
    padding-left: 1.2em;
  }

  @include respond-to(medium) {
    margin: 0 0 0 240px;
  }
}
.docs-title {

}
.docs-subsection {

}
.docs-subsection-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #888;
}
.docs-name {
  line-height: 1.2em;

  & + code {
    background-color: transparent;
    color: #666;
    font-weight: lighter;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
    line-height: 1.2em;
    padding: 0;
    margin-top: 1px;
  }
}
.docs-code-link {
  color: #000;
  text-decoration: none;
  border: none;

  & > code {
    border: solid 1px #bbb;
  }
}
