---
---
$green: #007233;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 80em;

$header-height: 60px;
$header-height-small: 40px;

@import 'normalize';
@import 'syntax';
@import 'mixins';
@import 'h5bp';

// Base
// ----------------------------------------------------- //

body {
  font-size: 14px;
  line-height: 1.5em;
  overflow-y: scroll;
}

code {
  padding: 0.1em 0.3em;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-size: 0.9em;
}

pre {
  border-left: solid 2px lighten($green, 10%);
  padding: 5px 0 5px 10px;
  max-width: 50em;
  line-height: 1.4em;

  & > code {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
    font-size: 90%;
  }

  .hll {
    background-color: fade-out($green, 0.93);
    display: block;
    margin-left: -10px;
    padding-left: 10px;
  }
}

.container {
  padding: 0 10px;
  position: relative;

  @include respond-to(medium) {
    width: 970px;
    margin: 0 auto;
    padding: 0;
  }
  @include respond-to(large) {
    width: $large-screen;
  }
}

// Header
// ----------------------------------------------------- //

.header {
  @extend .container;
  @extend .clearfix;
  margin-bottom: 8px;
  line-height: $header-height;

  @include respond-up-to(small) {
    line-height: $header-height-small;
  }
}
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  height: $header-height;
  z-index: 1000;
  background-color: #fff;
  border-bottom: solid 1px #eee;
  
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  transition: transform 200ms linear;

  @include respond-up-to(small) {
    &.headroom--pinned, &.headroom--top {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
    &.headroom--unpinned {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    
    height: $header-height-small;
  }
}

.branding {
  font-size: 2em;
  margin: 0;
  padding: 0;
  float: left;

  @include respond-up-to(small) {
    font-size: 1.4em;
  }

  a {
    color: $green;
    text-decoration: none;

    &:hover {
      border-bottom: solid 1px;
    }
  }
}
.navigation {
  font-size: 1.2em;
  float: right;

  @include respond-up-to(small) {
    font-size: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      @include respond-up-to(small) {
        margin-left: 10px;
      }
    }
  }
}
.navigation-link {
  color: black;
  text-decoration: none;
  border-bottom: solid 1px #aaa;
  padding: 0 2px 1px 2px;

  &:hover {
    border-width: 2px;
  }

  .download-link > & {
    border-color: $green;
    color: $green;
  }
}

.download-link {
  @include respond-up-to(small) {
    display: none;
    visibility: hidden;
  }
}


// Content
// ----------------------------------------------------- //

.content {
  @extend .container;
  @extend .clearfix;

  // position: absolute;
  top: $header-height;

  @include respond-up-to(small) {
    top: $header-height-small;
  }
}

// .anchor {
//   position: relative;
//   z-index: 1;

//   &:before {
//     display: block;
//     content: " ";
//     visibility: hidden;
//     margin-top: -10px;
//     height: 10px;
//     -webkit-user-select: none;  /* Chrome all / Safari all */
//     -moz-user-select: none;     /* Firefox all */
//     -ms-user-select: none;      /* IE 10+ */

//     /* No support for these yet, use at own risk */
//     -o-user-select: none;
//     user-select: none;  

//     @include respond-to(small) {
//       margin-top: -$header-height - 10px;
//       height: $header-height + 10px;  
//     }
//   }
// }

// Guides
// ----------------------------------------------------- //

.docs-single {
  @include respond-to(large) {
    width: 50em;
    margin: 0 auto;  
  }
}
.docs-split {
  @extend .clearfix;

  .instructions, .code {
    @include respond-to(medium) {
      width: 40em;  
    }
    @include respond-to(large) {
      float: left;  
    }
  }
}

// Docs
// ----------------------------------------------------- //

.toc {
  padding: 10px 0 20px 0;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }

  @include respond-to(medium) {
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 220px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0.85em;
  }
}
.toc-title {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }
}
.toc-section {
  margin: 0;
  padding-left: 1.8em;

  & > li {
    list-style: none;
    margin-left: -1em;

    &:before {
      content: "-";
      margin-right: 0.5em;
    }
  }
}
.toc-subsection,
li.toc-subsection {
  list-style: none;
  margin-left: -1.2em;
  color: #888;
  text-transform: uppercase;
  font-size: 0.9em;

  & > a {
    color: #888;
  }
  li + & {
    margin-top: 0.5em;
  }

  &:before {
    content: "";
    margin: 0;
  }
}

.documentation {
  h2 {
    border-bottom: solid 1px #eee;
    padding-bottom: 0.4em;
  }
  h3 {
    margin: 0;

    & + h4 {
      margin-top: 0.5em;
    }
  }
  h4 {
    margin-bottom: 0.5em;
  }

  & > p,
  & .docs-subsection > p {
    margin-top: 0;
    position: relative;
  }

  & a {
    color: #000;
    text-decoration: none;
    border-bottom: solid 1px #ccc;

    &:hover {
      border-color: #000;
    }
  }
  & > pre,
  & .docs-subsection > pre {
    position: relative;
    z-index: 10;
  }

  & > ul,
  & .docs-subsection > ul {
    margin-top: 0;
    padding-left: 1.2em;
    position: relative;
    z-index: 10;
  }

  /* Assume em inside of details is "Optional" note */
  em {
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #666;
    margin-right: 0.5em;
  }

  @include respond-to(medium) {
    margin: 0 0 0 240px;
  }
}
.docs-title {

}
.docs-subsection {

}
.docs-subsection-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #888;
}
.docs-name {
  line-height: 1.2em;

  & + code {
    background-color: transparent;
    color: #666;
    font-weight: lighter;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
    line-height: 1.2em;
    padding: 0;
    margin-top: 1px;
  }
}
.docs-code-link {
  color: #000;
  text-decoration: none;
  border: none;

  & > code {
    border: solid 1px #bbb;
  }
}
.docs-details {
  @extend .clearfix;

  margin: 0 0 0.5em 0.5em;
  line-height: 1.5em;

  & > dt {
    float: left;
    margin-right: 4px;
    clear: both;

    & > code {
      background-color: transparent;
    }
    &:after {
      content: "-";
      margin-left: 2px;
    }
  }
  & > dd {
    -webkit-margin-start: 20px;

    p {
      margin: 0;  
    }
    ul {
      margin: 0;
      padding-left: 1em;
    }
  }
}
.docs-internal {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #555;
  font-style: normal;
  font-weight: normal;
}
