---
title: Home
---

<h1 class="logo">Excel-REST</h1>
<p class="tagline">Connect Excel to web services and APIs with ease</p>

<ul>
  <li><a href="https://github.com/timhall/Excel-REST/releases" target="_blank">Download Excel-REST, Version 3.1.1</a></li>
  <li><a href="{{relative page.dest "_gh-pages/tutorials/"}}">Tutorials</a></li>
  <li><a href="{{relative page.dest "_gh-pages/docs.html"}}">Docs</a></li>
  <li><a href="https://github.com/timhall/Excel-REST/issues" target="_blank">Submit an Issue</a></li>
  <li>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="business" value="tim.hall.engr@gmail.com">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="item_name" value="Excel-REST">
      <input type="hidden" name="item_number" value="Support Excel-REST (Thanks!)">
      <input type="hidden" name="currency_code" value="USD">

      <input class="btn-link donate" type="submit" value="Donate">
    </form>
  </li>
</ul>

At a Glance
<ul>
  <li>Authentication</li>
  <li>Async</li>
  <li>JSON</li>
  <li>Cookies and Headers</li>
  <li>and much more!</li>
</ul>