# node_modules should be installed with npm install
specs/node_modules

# Ignore docs build files
docs/node_modules
docs/.grunt
docs/_gh-pages

# Ignore temporary Excel files
*/~$*

# Ignore credentials (don't check in sensitive data)
credentials.txt

# Ignore scratch work
_scratch