// Content
// ----------------------------------------------------- //

.content-container {
  @include container;
}

.content {
  padding-left: 10px;
  padding-right: 10px;

  &.mod-with-sidebar {}
}

@include respond-to(extra-small) {
  .content-container {
    margin-top: $header-height-small + 10px;
  }
}

@include respond-to(medium-plus) {
  .content-container {
    width: $content-width + $sidebar-width + 20px;
  }

  .content {
    width: $content-width;
    margin: 0 auto;

    &.mod-with-sidebar {
      margin-left: $sidebar-width + 20px;
    }
  }
}
