---
---
$excel-green: #007233;
$primary-color: $excel-green;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$content-width: 800px;
$header-height: 60px;
$header-height-small: 40px;
$sidebar-width: 240px;

@import 'normalize';
@import 'mixins';

@import 'highlight';

@import 'base';
@import 'header';
@import 'content';
@import 'sidebar';
@import 'footer';

@import 'landing';
@import 'guides';
@import 'docs';
