<header role="header">
  <h1 class="logo"><a href="{{relative page.dest "./"}}"><span class="logo-excel">Excel</span>-<span class="logo-rest">REST</span></a></h1>
  <nav class="main-nav">
    <li class="main-nav-item"><a class="btn btn-success download" href="https://github.com/timhall/Excel-REST/releases">Download Excel-REST</a></li>
    <li class="main-nav-item"><a href="{{relative page.dest "_gh-pages/tutorials/"}}">Tutorials</a></li>
    <li class="main-nav-item"><a href="{{relative page.dest "_gh-pages/docs.html"}}">Docs</a></li>
    <li class="main-nav-item"><a class="issues" href="https://github.com/timhall/Excel-REST/issues">Submit an Issue</a></li>
    <li class="main-nav-item">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="business" value="tim.hall.engr@gmail.com">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="item_name" value="Excel-REST">
        <input type="hidden" name="item_number" value="Support Excel-REST (Thanks!)">
        <input type="hidden" name="currency_code" value="USD">

        <input class="btn-link donate" type="submit" value="Donate">
      </form>
    </li>
  </nav>
</header>